.main-bg {
    background: linear-gradient(135deg, #44C2C9 0%, #92fe9d 100%);
  }
  
  .login-wrapper {
    background: linear-gradient(135deg, #0072ff, #00c6ff);
  }
  
  .login-card {
    background-color: white;
    width: 900px;
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .login-left {
    background: linear-gradient(135deg, #44C2C9 0%, #92fe9d 100%);
    flex: 1;
    padding: 40px;
    color: white;
    min-width: 300px;
  }
  
  .login-right {
    flex: 1;
    background-color: #ffffff;
  }
  
  .input-group-text {
    background-color: #f0f0f0;
    border-right: 0;
  }
  
  .form-control {
    border-left: 0;
  }
  
  .btn-login {
    background-color: #003cff;
    border: none;
  }
  
  .btn-login:hover {
    background-color: #0022cc;
  }

  .btn-primary-login{
    background-color: #44C2C9;
    color: white;
  }
  
  @media (max-width: 768px) {
    .login-left {
      text-align: center;
      align-items: center !important;
    }
    .login-left h2, .login-left h5, .login-left p {
      text-align: center;
    }
  }
  